.mega-grid{
display: grid;
grid-template-rows: 100px 50px 600px 100px;
grid-template-areas: 
'H H H H H'
'NB NB NB NB NB'
'N C C C A'
'F F F F F';
}

.header{
  grid-area: H;
  border-style: solid;
  border-color: antiquewhite;
}

.nav-bar{
  grid-area: NB;
  border-style: solid;
  border-color: aqua;
}

.nav-column{
  grid-area: N;
  border-style: solid;
  border-color: blue;
}

.content-column{
  grid-area: C;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: blueviolet;
}
#wod{
  
}

.add-column{
  grid-area: A;
  border-style: solid;
  border-color: yellowgreen;
}

.footer{
  grid-area: F;
  border-style: solid;
  border-color: yellow;
}