.add-column{
  grid-area: A;
  background-color: #dfe6ed;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#crossfit-logo{
display: none;
}
#crossfit-sponsors{
  /* width: 100%;
  height: 40%; */
}
#GA-logo{
display: none;
}
#tech-sponsors{
  /* height: 40%;
  width: 100%; */
}
#No-Bull{

}
@media all and (max-width: 450px){
  .add-column{
    grid-area: A;
    background-color: #dfe6ed;
    display: flex;
    flex-direction: row;
  }
#crossfit-sponsors{
  width: 50%;
  height: 50%;
}
#tech-sponsors{
  width: 50%;
  height: 50%;
}
/* #crossfit-sponsors{
  display: none;
}
#tech-sponsors{
 display: none;
} */
#No-Bull{
display: none;
}
.add-title{
  display: none;
}
}