.add-column{
  grid-area: A;
  background-color: #dfe6ed;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.carousel-inner{
  width: 100%;
    background-color: white;
    height: 100%;
}
#crossfit-sponsors{
}
#tech-sponsors{
}
#crossfit-logo{
  display: none;
}
#GA-logo{
  display: none;
}
@media all and (max-width: 450px){
  .add-column{
    grid-area: A;
    background-color: #dfe6ed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
#crossfit-logo{
  display: block;
}
#GA-logo{
  display: block;
}
#crossfit-sponsors{
  display: none;
}
#tech-sponsors{
 display: none;
}
#No-Bull{
display: none;
}
.add-title{
  display: none;
}
}