.wod-list{
  background-image: url('https://imgur.com/5ZLyIZ7');
}
.wod-list-title{
  display: flex;
  flex-direction: row;
  background: #788896;
    color: white;
    width: 100%;
    justify-content: center;
}
.content-column{

}

#name{
  border-style: solid;
  border-color: #ced4d8;
  color: #788896;
  background-color: white;
  border-radius: 5px;
}