.wod-list{
  background-image: url('https://imgur.com/5ZLyIZ7');
}

.content-column{

}

#name{
  border-style: solid;
  border-color: #ced4d8;
  color: #788896;
  background-color: white;
  border-radius: 5px;
}