.equipment-title{
  display: flex;
  flex-direction: row;
  background: #788896;
    color: white;
    width: 100%;
    justify-content: center;
    height: 50px;
}
.equipment{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-image: url('https://www.workingagainstgravity.com/media/xuuh05ft/tiaint1.jpg?anchor=center&mode=crop&rnd=132514718439470000');
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#equ{
  border-style: solid;
  border-color: #ced4d8;
  color: #788896;
  background-color: white;
  border-radius: 5px;
  width: 25vw;
  height: 4vh;
}