.spec-title{
  display: flex;
  flex-direction: row;
  background: #788896;
    color: white;
    width: 100%;
    justify-content: center;
    height: 50px;
}
.wod-specs{
  background-image: url('https://cdn.shopify.com/s/files/1/0383/0877/articles/4Z0A8551_2000x.jpg?v=1572638449');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.name-box{
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: #ced4d8;
  margin-right: 54%;
  height: 6vh;
}
.name-title{
  background-color: #788896;
  color: white;
}
.name-name{
  background-color: white;
  color: #788896;
}
.desc-box{
display: flex;
flex-direction: column;
border-style: solid;
border-color: #ced4d8;
width: 90%;
}
.desc-name{
  background-color: #788896;
  color: white;
  height: 7vh;
}
.desc-desc{
  background-color: white;
  color: #788896;
  height: 20vh
}
.equip-box{
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #ced4d8;
  width: 90%;
}
.equip-name{
  background-color: #788896;
  color: white;
  height: 7vh;
}
.equip-equip{
  background-color: white;
  color: #788896;
  height: 10vh;
}
.spec-buttons{
  display: flex;
  flex-direction: row;
}
#delete{
  background-color: #788896;
  color: white;
  border-radius: 5px;
}
#edit{
  background-color: #788896;
  color: white;
  border-radius: 5px;
}